node_modules
dist
build
coverage
.DS_Store
.wrangler
.wrangler-kv-store
.vitest*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
.vscode/
.idea/
*.local
*.tmp
.DS_Store
